{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "ignore": [
    "node_modules",
    "*.test.js"
  ]
}
